$blue: #055cde;
$black: #353535;
$white: #ffffff;
$grey: #d6d6d6;
$darkBlue: #021279;
$spacing: 15px;
$font: 'Yaldevi', sans-serif;
$size: 15px;

%button {
    border: none;
    border-radius: $size*.5;
    background-color: $grey;
    padding: 5px
}
@mixin flex($just, $align) {
    display: flex;
    justify-content: $just;
    align-items: $align;
}